.container{
    width: 85%;
    margin: auto;
}
table {
    width: 100%;
  }

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}  

button {
    width: 100%;
  }

mat-form-field {
    width: 100%;
  }