<mat-card class="card mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>Formulário de pedidos tecnicos</mat-card-title>
      <mat-card-subtitle>Deixando o projeto Legal</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/img-home2.jpg" alt="Imagem da tela home">
    <mat-card-content>
      <p>
        Projeto CRUD: Validação de formulário com angular e spring boot.<br>
        Estou em constante aprendizado, fazendo cursos e treinamento de novas tecnologias, 
        <br>sou um apaixonado por aprender e implementar o que estou aprendendo.<br>At: Thiago Zappiello.
      </p>
    </mat-card-content>
  </mat-card>