<div class="container">

    <h1>Lista de Chamados</h1>
  
        <button mat-stroked-button class="full-width mat-elevation-z6">Novo Chamado</button>
  
    <mat-form-field appearance="standard">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
  

    <mat-radio-group color="primary">
        <mat-radio-button (click)="ordernarPorStatus(0)" value="0">ABERTO</mat-radio-button>
        <mat-radio-button (click)="ordernarPorStatus(1)" value="1">ANDAMENTO</mat-radio-button>
        <mat-radio-button (click)="ordernarPorStatus(2)" value="2">ENCERRADO</mat-radio-button>
    </mat-radio-group>

      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
        
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
            <ng-container matColumnDef="titulo">
              <th mat-header-cell *matHeaderCellDef> Titulo </th>
              <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
            </ng-container>
        
            <ng-container matColumnDef="cliente">
              <th mat-header-cell *matHeaderCellDef> Cliente </th>
              <td mat-cell *matCellDef="let element"> {{element.nomeCliente}} </td>
            </ng-container>
        
            <ng-container matColumnDef="tecnico">
              <th mat-header-cell *matHeaderCellDef> Tecnico </th>
              <td mat-cell *matCellDef="let element"> {{element.nomeTecnico}} </td>
            </ng-container>

            <ng-container matColumnDef="dataAbertura">
                <th mat-header-cell *matHeaderCellDef> Data de Abertura </th>
                <td mat-cell *matCellDef="let element"> {{element.dataAbertura}} </td>
            </ng-container>
  
            <ng-container matColumnDef="prioridade">
                <th mat-header-cell *matHeaderCellDef> Prioridade </th>
                <td mat-cell *matCellDef="let element"> {{retornaPrioridade(element.prioridade)}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{retornaStatus(element.status)}} </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
              <th mat-header-cell *matHeaderCellDef> Ações </th>
              <td mat-cell *matCellDef="let element"> 

               <a title="Atualizar" routerLink="">
                <i class="material-icons edit">edit</i>
               </a>
               <a title="Deletar" routerLink="">
                <i class="material-icons delete">visibility</i>
               </a>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[2, 5, 10]"
                         showFirstLastButtons 
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
  </div>