<div class="container">
    <form class="form mat-elevation-z6">
      
      <h1>Tela de Login - Para Logar</h1>
      <p>E-mail: teste@mail.com - senha: 123 </p>

      <img src="assets/img/img-login.jpg" alt="Tela de Login - com estil">

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input 
          [formControl]="email"
          required
          [(ngModel)]="credenciais.email" 
          name="email"
          matInput 
          placeholder="Ex. abc@mail.com">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Senha</mat-label>
            <input
            [formControl]="senha"
            required
            [(ngModel)]="credenciais.senha" 
            name="senha"
            type="password" 
            ty matInput placeholder="Ex. Abc1234">
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>

          <button (click)="logar()" [disabled]="!validarCampos()" class="full-width mat-elevation-z6" mat-stroked-button>Login</button>
      
          <p class="full-width">Por tzappiello</p>
          
        </form>

</div>