<div class="container mat-elevation-z8">
    <h1 class="full-width">Atualizar chamado</h1>
    <img class="full-width" src="assets/img/img-chamado.svg" alt="">

    <form class="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Discrição do Chamado</mat-label>
          <input 
          [(ngModel)]="chamado.titulo"
          name="titulo"
          [formControl]="titulo"
          required
          matInput 
          placeholder="Ex. Digite as tarefas">
        </mat-form-field>
      </form>

      <div class="status-prioridade">
        <mat-form-field appearance="outline">
            <mat-label>{{ retornaStatus(chamado.status) }}</mat-label>
            <mat-select  
            [(ngModel)]="chamado.status"
            name="status"
            [formControl]="status" 
            required>
              <mat-option value="0">ABERTO</mat-option>
              <mat-option value="1">EM ANDAMENTO</mat-option>
              <mat-option value="2">ENCERRADO</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ retornaPrioridade(chamado.prioridade) }}</mat-label>
            <mat-select  
            [(ngModel)]="chamado.prioridade"
            name="prioridade"
            [formControl]="prioridade" 
            required>
              <mat-option value="0">BAIXA</mat-option>
              <mat-option value="1">MÉDIA</mat-option>
              <mat-option value="2">ALTA</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="tecnico">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{ chamado.nomeTecnico }}</mat-label>
            <mat-select 
            [(ngModel)]="chamado.tecnico"
            name="tecnico"
            [formControl]="tecnico" 
            required>
              <mat-option *ngFor="let tec of tecnicos" value="{{ tec.id }}">{{ tec.nome }}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="cliente">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{ chamado.nomeCliente }}</mat-label>
            <mat-select 
            [(ngModel)]="chamado.cliente"
            name="cliente"
            [formControl]="cliente" 
            required>
              <mat-option *ngFor="let cli of clientes" value="{{ cli.id }}">{{ cli.nome }}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      
      <form class="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Deixe um comentário </mat-label>
          <textarea  
          [(ngModel)]="chamado.observacoes"
            name="observacoes"
          [formControl]="observacoes" 
          required
          class="observacoes" 
          matInput 
          placeholder="Ex. Feito a manutenção"></textarea>
        </mat-form-field>
      </form>

      <button (click)="update()" [disabled]="!validaCampos()" class="full-width mat-elevation-z6" mat-raised-button color="primary">Atualizar</button>
      <button routerLink="../../" class="full-width mat-elevation-z6" mat-stroked-button color="warn">Cancelar</button>

      <p class="full-width">Por tzappiello</p>
</div>