<div class="container mat-elevation-z8">
    <form class="form ">
        <h1 class="fullwidth">Cadastrar Cliente</h1>
        <img src="assets/img/img-tecnico-create.png" alt="Imagem Tela cliente-create" style="opacity: 0.3">

        <section class="section">
            <mat-checkbox (click)="addPerfil(0)" class="margin" color="primary">Admin</mat-checkbox>
            <mat-checkbox (click)="addPerfil(1)" [checked]="true" class="margin" color="primary">Cliente</mat-checkbox>
            <mat-checkbox (click)="addPerfil(2)" class="margin" color="primary">Cliente</mat-checkbox>
        </section>

        <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>Nome</mat-label>
            <input 
            [(ngModel)]="cliente.nome"
            name="nome"
            [formControl]="nome"
            required
            matInput 
            placeholder="Ex. Seu Nome"
            maxlength="50">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>CPF</mat-label>
            <input 
            [(ngModel)]="cliente.cpf"
            name="cpf"
            [formControl]="cpf"
            required
            matInput 
            placeholder="Ex. 123.456.789-00"
            mask="000.000.000-00">
            <mat-icon matSuffix>pin</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>E-mail</mat-label>
            <input
            [(ngModel)]="cliente.email"
            name="email"
            [formControl]="email"
            required 
            matInput 
            placeholder="Ex. abc@mail.com">
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>Senha</mat-label>
            <input 
            [(ngModel)]="cliente.senha"
            name="senha"
            type="password" 
            [formControl]="senha"
            required
            matInput 
            placeholder="Ex. Abc1234">
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>

          <button (click)="create()" [disabled]="!validaCampos()" class="fullwidth mat-elevation-z6" mat-flat-button color="primary">Cadastrar</button>
          <button routerLink="../" class="fullwidth mat-elevation-z6" mat-stroked-button color="warn">Cancelar</button>

          <p class="full-width">Por tzappiello</p>
          
    </form>
</div>