<div class="container mat-elevation-z8">
    <h1 class="full-width">Visualizar o chamado</h1>
    <img class="full-width" src="assets/img/img-chamado.svg" alt="">

    <form class="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ chamado.titulo }}</mat-label>
          <input
          [disabled]="true"
          
          matInput>
        </mat-form-field>
      </form>

      <div class="status-prioridade">
        <mat-form-field appearance="outline">
            <mat-label>STATUS: ({{ retornaStatus(chamado.status) }})</mat-label>
            <mat-select
            [disabled]="true">
              <mat-option value="0">ABERTO</mat-option>
              <mat-option value="1">EM ANDAMENTO</mat-option>
              <mat-option value="2">ENCERRADO</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>PRIORIDADE: ({{ retornaPrioridade(chamado.prioridade) }})</mat-label>
            <mat-select  
            [disabled]="true">
              <mat-option value="0">BAIXA</mat-option>
              <mat-option value="1">MÉDIA</mat-option>
              <mat-option value="2">ALTA</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="tecnico">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>TÉCNICO: ({{ chamado.nomeTecnico }})</mat-label>
            <mat-select 
            [disabled]="true">
              <mat-option *ngFor="let tec of tecnicos" value="{{ tec.id }}">{{ tec.nome }}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="cliente">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>CLIENTE: ({{ chamado.nomeCliente }})</mat-label>
            <mat-select 
            [disabled]="true">
              <mat-option *ngFor="let cli of clientes" value="{{ cli.id }}">{{ cli.nome }}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      
      <form class="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label> {{ chamado.observacoes }} </mat-label>
          <textarea  
          [disabled]="true" 
          class="observacoes" 
          matInput></textarea>
        </mat-form-field>
      </form>

      <button routerLink="../../" class="full-width mat-elevation-z6" mat-stroked-button color="warn">Retornar</button>

      <p class="full-width">Por tzappiello</p>
      
</div>